:root {
    --bg-gray: #0f0f0f;
}

/* General Settings */

* {
    margin: 0;
    padding: 0;

    background-color: var(--bg-gray);
    color: white;
}

.padding {
    padding: 1rem;
}

.margin {
    margin: 1.5rem;
}

.border {
    outline: 2px solid white;
}

.column {
    flex-direction: column;
}

/* Grandparent */

.box-grandparent {
    padding: 3rem 3rem 3rem 3rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
}

/* Parent */

.box-parent {
    display: flex;
    background-color: brown;
    flex-grow: 1;
}

.box-parent-charStatus {
    display: flex;
    flex-grow: 1;
}

.box-parent-charAttribute {
    display: flex;

    height: 25rem;
    margin-bottom: 2rem;
}

.box-parent-charSkills {
    height: 10rem;
}

.box-parent-charInfo {
    display: flex;
    justify-content: center;
}

.box-parent-charInfo-item {
    height: 15rem;

    display: flex;
    justify-content: space-between;
}

.box-parent-charAccessory {
    display: flex;
    justify-content: space-evenly;
}

/* Child */

.box-child-charStatus {
    margin-bottom: 2rem;
    padding: 0 1.5rem;

    display: flex;
}

.box-child-charStatus-element {
    height: 3rem;
    width: 3rem;

    position: absolute;
    margin: 0 1rem 0 0;

    border-radius: 50%;
}

.box-child-charStatus-level {
    font-size: 5rem;
    margin-right: 2rem;

    display: flex;
}

.box-child-charStatus-info {
    display: flex;
    flex-grow: 1;

    width: 20rem;
    margin-bottom: 0.5rem;
}

.box-child-charAttribute {
    display: flex;
    justify-content: space-evenly;

    padding: 1.5rem 0.5rem 1.5rem 0.5rem;
}

.box-child-charInfo {
    width: 30rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-child-charInfo-item {
    height: 5rem;
    width: 5rem;
}

.box-child-charInfo-image {
    height: 25rem;
    width: 17rem;

    padding: 0 1rem 0 1rem;
}

.box-child-charAccessory {
    height: 5rem;
    width: 5rem;

    border-radius: 50%;
}

/* Grandchild */

.box-granchild-charStatus-info {
    border-bottom: 2px solid white;

    display: flexbox;
    flex-grow: 1;
}

.box-grandchild-charAttribute {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    height: 3rem;
    width: 3rem;
}