/* Setup */
:root {
    --white: #d6d6d6;

    --backgound-black: #101010;

    --shadow-white-out: #1b1b1b;
    --shadow-white-in: #2c2c2c;
}

body {
    background-color: var(--backgound-black);
}

/* Styling */

.border {
    border: solid 2px var(--white);
}

/* Visualizer */

.visualizer {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.visualiser--player-view {
    height: 25rem;
    width: 25rem;

}

.experience--progress-bar {
    position: absolute;
}

.visualiser--player-experienceOut {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 0 3rem var(--shadow-white-out);
}

.visualiser--player-experienceIn {
    height: 95%;
    width: 95%;

    box-shadow: inset 0 0 2rem var(--shadow-white-in);
}