/* Setup */
:root {
    --white: #d6d6d6;
    --golden: #ffc131;

    --backgound-black: #101010;

    --shadow-white-out: #1b1b1b;
    --shadow-white-in: #2c2c2c;
}

body {
    background-color: var(--backgound-black);
}

svg {
    overflow: visible
}

/* Main */

.main--player-experienceBar {
    height: 25rem;
    width: 25rem;
}

.main--player-experienceBar>svg {
    height: 100%;
    display: block;
}