.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.border {
    border: solid 1px var(--white);
}

.circle {
    border-radius: 50%;
}

.p-absolute {
    position: absolute;
}

.mb-1 {
    margin-bottom: 6rem;
}